.footer__content {
    padding: 80px 0;
    color: #000;
}
.footer__wrapper {
    display: flex;
    justify-content: center;
}
.footer__navigation .menu {
    position: relative;
    right: 0;
    transform: translate(0, 0);
}
.footer__navigation .menu__link {
    color: #000;
}
.footer__social {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.social__item {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.footer__img {
    position: static;
    max-width: 40px;
    max-height: 40px;
    filter: grayscale(100%);
    transition: all .5s ease;
    z-index: -2;
}
.social__item:hover .footer__img {
    filter: grayscale(0);
}
.social__item:not(:last-child) {
    margin-right: 40px;
}
.social__name {
    margin-left: 5px;
    color: #000;
}
.footer__bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
}
.footer__copyright {
    font-size: 14px;
}
.footer__logo {
    margin-left: auto;
}