.header {
    background: url('../img/index-image/bg.png') no-repeat center top / cover;
    min-height: 100vh;
}

.nav {
    padding-top: 20px;
}

.nav::after {
    content: '';
    display: block;
    margin: 15px auto 0;
    width: 40%;
    height: 1px;
    background-color: #fff;
}

.nav__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    position: absolute;
    right: 50%;
    display: flex;
    align-items: center;
    transform: translate(50%, 0);
}

.menu__item:not(:last-child) {
    margin-right: 30px;
}

.menu__link {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}
.menu__sub  .menu__link {
    padding: 2px;
}
.menu__sub  .menu__link:hover {
    border: 1px solid #000;
}
.menu__link-name {
    font-size: 24px;
    color: #000;
    cursor: default;
}

.menu__sub {
    position: absolute;
    display: none;
    padding: 5px;
    width: fit-content;
    background-color: #fff;
}

.menu__sub .menu__item {
    font-size: 20px;
}
.sub__menu {
    padding-bottom: 15px;
}
.sub__menu .menu__item {
    margin-left: 20px;
    margin-right: 15px;
}

.menu__sub .menu__link {
    font-size: 16px;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .5s ease;
}
.menu__sub .menu__link::before {
    content: '-';
}
.menu .menu__item:hover .menu__sub {
    display: block;
}

.box-reg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    cursor: default;
}
.box-forms {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    width: 60%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.box-forms .section__sub-title {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 32px;
}
.box-forms .forms {
    width: 70%;
}


.button {
    display: inline-block;
    padding: 20px 35px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #fff;
    transition: all .5s ease;
}

.button:hover {
    background: rgba(255, 255, 255, 0.25);
}

.header__content {
    padding-top: 120px;
    padding-bottom: 227px;
    
}

.header__title {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 72px;
}

.header__sub-title {
    padding-bottom: 85px;
    font-weight: 300;
    font-size: 36px;
}

.header__button {
    padding: 25px 40px;
    font-size: 24px;
}
