@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	
        /* background-color: green; */
    }

	.about:not(:last-child) {
		margin-bottom: 15px;
	}

	.section__gallery {
		justify-content: center;
	}

	.card__title {
		font-size: 24px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;

        /* background-color: purple; */
	}

	.menu__link {
		font-size: 18px;
	}

	.nav__button {
		padding: 10px 15px;
	}

	.forms {
		width: 100%;	
	}

	.header__title--center {
		font-size: 100px;
	}

	.section__card {
		justify-content: center;
	}

	.card__item:nth-child(-n+3) {
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;

        /* background-color: orange; */
	}

	.header__title {
		font-size: 64px;
	}

	.header__sub-title--center {
		font-size: 48px;
	}

	.nav__wrapper {
		flex-direction: column;
	}

	.nav__logo {
		margin-bottom: 80px;
	}

	.menu {
		top: 15%;
	}

	.forms input {
		font-size: 18px;
	}

	.social__item {
		font-size: 24px;
	}

	.section__social {
		flex-direction: column;
		justify-content: center;
	}

	.section__social .social__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 40px;
	}

	.section__social .social__item:nth-child(2) {
		position: relative;
		left: 0;
		transform: translate(0);
	}
}

@media screen and (max-width: 575px) {
	.container {
		padding: 0 10px;
		width: 90%;

        /* background-color: pink; */
	}
	
	.header__title {
		font-size: 38px;
	}

	.header__sub-title {
		font-size: 20px;
	}

	.section__title {
		font-size: 30px;
	}

	.card__description {
		text-align: center;
	}

	.cards__title {
		font-size: 24px;
	}

	.prices__item {
		flex-direction: column;
		text-align: center;
	}

	.prices__name {
		padding-bottom: 15px;
	}

	.name {
		font-size: 28px;
	}

	.menu__link {
		font-size: 14px;
	}

	.about__name {
		font-size: 26px;
	}

	.social__name {
		font-size: 18px;
	}

	.footer__social .social__name {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.footer__social, .footer__bottom {
		display: block;
		width: fit-content;
    	margin: 0 auto;
	}

	.social__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.footer__logo img {
		margin: 25px auto 0;
	}

	.menu__sub .menu__item {
		margin: 0;
	}

	.menu__sub .menu__link {
		font-size: 14px;
	}

	.button__comment:not(:last-child) {
		margin-bottom: 15px;
	}
}