.section__content {
    padding: 80px 0;
}

.section__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.section__bodys {
    padding-top: 60px;
}

.section__body {
    padding: 25px 0;
    min-height: 280px;
}

.section__body:nth-child(1) {
    background: url('../img/index-image/img1.png') no-repeat center top / cover;
}
.section__body:nth-child(2) {
    background: url('../img/index-image/img2.png') no-repeat center top / cover;
}
.section__body:nth-child(3) {
    background: url('../img/index-image/img3.png') no-repeat center top / cover;
}

.section__body:not(:last-child) {
    margin-bottom: 15px;
}

.body__item {  
    padding-bottom: 20px;
}

.body__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.body__links {
    margin: 0 auto;
    width: fit-content;
    min-width: 40%;
}

.body__link {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 300;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all .5s ease;
}

.body__link:hover {
    border: 1px solid #fff;
}

.body__link::before {
    content: '';
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 2px;
    background-color: #fff;
}

.body__link:not(:last-child) {
    margin-bottom: 15px;
}

.section__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.about:nth-child(1) {
    margin-bottom: 15px;
    max-width: 600px;
    max-height: 350px;
}
.about:nth-child(2) {
    max-width: 555px;
    max-height: 350px;
}
.about:nth-child(3) {
    max-width: 555px;
    max-height: 350px;
}
.about:nth-child(4) {
    max-width: 600px;
    max-height: 350px;
}

.about {
    position: relative;
    background-color: #000;
}

.about__link:hover .about__img {
    opacity: .1;
    filter: blur(1px);
}

.about__name {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    opacity: 0;
    border: 1px solid #fff;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

.about__link:hover .about__name {
    opacity: 1;
}

.about__img {   
    transition: all .8s ease;
}

.section__sub-title {
    padding-top: 60px;
    padding-bottom: 100px;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: #000;
}

.forms {
    margin: 0 auto;
    padding: 75px 35px 60px;
    width: 50%;
    text-align: center;
    border: 1px solid #000;
}

.forms input {
    width: 100%;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #000;
}



.user-name {
    padding-bottom: 105px;
}

.user-email {
    padding-bottom: 105px;
}

.user-tel {
    padding-bottom: 105px;
}
.user-tel__msg {
    color: #000;
}

.forms__button {
    padding: 12px 40px;
    border: 1px solid #000;
}

.forms__button:hover {
    color: #fff;
    background-color: #000;
}

.section__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    color: #000;
}
.card__item {
    cursor: default;
}
.card__item:nth-child(1) {
    padding-bottom: 50px;
}
.card__item:hover .card__img {
    transform: translate(-15px, -15px);
}
.card__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.card__img {
    margin-right: 30px;
    max-width: 70px;
    max-height: 70px;
    transition: all .5s ease;
}
.card__title {
    max-width: 370px;
    font-weight: 700;
    font-size: 36px;
}
.card__description {
    max-width: 449px;
    font-size: 20px;
}

.section__cards {
    padding-top: 60px;
}
.cards__item {
    position: relative;
}
.cards__item:hover .cards__wrapper {
    width: 100%;
}
.cards__item:hover .cards__title {
    opacity: 1;
}
.cards__item:not(:last-child) {
    margin-bottom: 15px;
}
.cards__wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    text-align: center;
    background-color: #000000ba;
    transition: all .5s ease;
}
.cards__title {
    font-size: 40px;
    opacity: 0;
    transition: all .5s ease;
    cursor: default;
}

.section__prices {
    padding-top: 60px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    cursor: default;
}
.prices__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    border: 1px solid #fff;
    transition: all .5s ease;
}
.prices__item:hover {
    transform: translate(-10px);
    background: rgba(255, 255, 255, 0.15);
}
.prices__item:not(:last-child) {
    margin-bottom: 15px;
}

.section__social {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    color: #000;  
}
.section__social .social__item {
    flex-direction: column;
}
.section__social .social__item:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translate(-55%);
}
.section__social .social__item img {
    width: 60px;
    height: 60px;
}
.section__social .social__name {
    font-size: 46px;
}